.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background: linear-gradient(180deg, #0076BC 47.71%, #00AFF0 100%);
    color: white !important;
}

.css-i4bv87-MuiSvgIcon-root{
    fill: white !important;
}